doctype html
html
  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")/
    meta(name="format-detection" content="telephone=no")/
    title Todo
    link(rel="stylesheet" href=cdn_endpoint + "/style/app.css")/
    script.
      window.preloadedState = {
        todos: [{ id: 0, permanentId: 1, completed: false, text: '明日お米を買う。', detail: 'Japan Centerに行くついでに買う。', sync: true }] 
      };
  body
    .header
    .content
      div(id="root")

    script(src=cdn_endpoint + "/script/vendor.js")
    script(src=cdn_endpoint + "/script/app.js")
