.todo {
  &__input {
    width: calc(100% - 135px);
  }

  &__enterButton {
    width: 130px;
  }

  &__list {
    margin: 10px 0;

    &__item {
      width: 100%;
      display: block;
      padding: 10px;
      font-size: 16px;
      text-align: left;
      word-break: break-all;

      &--completed {
        color: $color-text-disabled;
        background-color: $color-background-disabled;
        text-decoration: line-through;
      }
    }
  }
}
